/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, rgb(64, 135, 216) 25%, lightblue 75%);
    color: white;
    height: 100%;
    line-height: 1;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}

/* Navigation styling */
h2 {
    font-size: 90%;
    padding: 20px;
    margin-left: 20px;
    background-color: rgba(61, 83, 117, 0.5);
    color: white;
    border-radius: 10px;
}

p {
    font-size: 200%;
    margin: 10px;
    padding: 30px 20px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

/* Search bar styling */
.search-bar {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #3d5375;
    border-radius: 10px;
    font-size: 1rem;
    color: #333;
    text-align: center;
    display: inline-flex;
}

.search-bar::placeholder {
    color: #888;
}

.search-button {
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgba(61, 83, 117, 0.5);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    border: none;
}

.search-button:hover {
    background-color: rgba(45, 187, 168, 0.8);
    font-weight: bolder;
}

#results {
    display: flex;
    justify-content: left;
    float: left;
    flex-direction: column;
}

#results ul {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

#results ul li {
    margin: 10px;
    padding: 10px;
    background-color: rgba(61, 83, 117, 0.5);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#results ul li:hover {
    background-color: rgba(45, 187, 168, 0.575);
}

#map {
    height: 70%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #3d5375;
    border-radius: 10px;
}
