* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, lightblue, white);
    color: blanchedalmond;
    height: 100%;
    line-height: 1;
    font-family:  Arial, Helvetica, sans-serif;
}

h1 {
    padding: 40px;
    background-color: linear-gradient(to bottom, royalblue, lightblue);
    color: rgb(255, 255, 255);
    text-align: center;

}

h2 {
    font-size: 90%;
    padding: 20px;
    margin-left: 20px;
    background-color: rgba(61, 83, 117, 0.5);
    border-radius: 10px;
}


p {
    font-size: 200%;
    margin: 10px;
    padding: 30px 20px;
    background: linear-gradient(to bottom, rgb(64, 135, 216), lightblue);
    color: white;
    border-radius: 10px;
    text-align: center;
}
button {
    margin: 10px;
    padding: 10px;
    background-color: rgba(61, 83, 117, 0.5);
    border-radius: 10px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border: none;
    float: right;
    &:hover {
        background-color: rgba(45, 187, 168, 0.8);
        font-weight: bolder;
    }
}

#results {
    display: flex;
    justify-content: left;
    float: left;
    flex-direction: column;
    ul{
        display: inline-block;
        list-style: none;
        padding: 10px;
        li {
            margin: 10px;
            padding: 10px;
            background-color: rgba(61, 83, 117, 0.5);
            border-radius: 10px;
            cursor: pointer;
            &:hover {
                background-color: rgba(45, 187, 168, 0.575);
            }
        }
    }
}

#map {
    height: 70%;
}
